
<div class="container p-l-r-0" id="main-container-wrapper">
           
    <div id="main-container">
        <div class="m-t-10"> <!-- top btns + number of games -->
            <button type="button" [disabled]="workInProgress" class="btn btn-secondary btn-sm" (click)="readLocalDataFolder();">READ Local</button>
            <button type="button" [disabled]="workInProgress" class="btn btn-primary btn-sm" (click)="uploadGamesToDB();">UPLOAD</button>
            <button type="button" [disabled]="workInProgress" class="btn btn-secondary btn-sm" (click)="readDBGames();">READ DB</button>
            <button type="button" [disabled]="workInProgress" class="btn btn-danger btn-sm" (click)="deleteGame();">DELETE ID</button>
            <button type="button" [disabled]="workInProgress" class="btn btn-danger btn-sm" (click)="deleteAllGame();">X</button>
            <button type="button" [disabled]="workInProgress" class="btn btn-primary btn-sm" (click)="clearScreen();">CLEAR</button>
            
            <label><input type="checkbox" [(ngModel)]="showStats" /> STATS</label>
            
            <div class="m-l-10 d-i-b"  *ngIf="games">
                {{numberFilesRead}} {{numberFilesRead === 1 ? 'game' : 'games'}}
            </div>
            
            <button type="button" [disabled]="workInProgress" class="btn btn-primary btn-sm float-right" (click)="searchDB();">search DB</button>
            <div class="float-right line-height-btn-sm-size m-r-20 bold flex" *ngIf="workInProgress">
                <div class="loader m-r-5"></div>
                <div class="text-anim line-height-btn-sm-size">
                    <span>w</span><span>o</span><span>r</span><span>k</span> 
                    <span>i</span><span>n</span> 
                    <span>p</span><span>r</span><span>o</span><span>g</span><span>r</span><span>e</span><span>s</span>
                </div>
            </div>
        </div>
                        
        <div class="row m-t-10"> <!-- home, away, location, gender, technical, level -->
            <div class="col-4 flex" >
                <div class="col-2 p-l-r-0">
                    Home
                </div> 
                <div class="col-2 p-l-r-0">
                    <select class="w-50px" [(ngModel)]="homeQueryPoints">
                        <option *ngFor="let point of points" [ngValue]="point"> {{ point }} </option>
                    </select>
                </div>
                <div class="col-2 p-l-r-0">
                    Away
                </div>
                <div class="col-2 p-l-r-0">
                    <select class="w-50px" [(ngModel)]="awayQueryPoints">
                        <option *ngFor="let point of points" [ngValue]="point"> {{ point }} </option>
                    </select>
                </div>
                <div class="col-2 p-l-r-0">
                    Set
                </div>
                <div class="col-2 p-l-r-0">
                    <select class="w-50px" [(ngModel)]="querySet">
                        <option *ngFor="let set of sets" [ngValue]="set"> {{ set.name }} </option>
                    </select>
                </div>
            </div>            
            <div class="col-2 flex">
                <div class="col-6 p-l-r-0">
                    Location
                </div> 
                <div class="col-6 p-l-r-0">
                    <select [(ngModel)]="queryLocation">
                        <option *ngFor="let location of locations" [ngValue]="location"> {{ location.name }} </option>
                    </select>
                </div> 
            </div>            
            <div class="col-2 flex" >
                <div class="col-6 p-l-r-0">
                    Gender
                </div> 
                <div class="col-6 p-l-r-0">
                    <select [(ngModel)]="gender">
                        <option *ngFor="let g of genders" [ngValue]="g"> {{ g.name }} </option>
                    </select>
                </div>
            </div>
            <div class="col-2 flex" >
                <div class="col-6 p-l-r-0">
                    Level
                </div> 
                <div class="col-6 p-l-r-0">
                    <select [(ngModel)]="level">
                        <option *ngFor="let l of levels" [ngValue]="l"> {{ l.name }} </option>
                    </select>
                </div>
            </div>
            <div class="col-2 flex" >
                <div class="col-6 p-l-r-0">
                    Technical
                </div> 
                <div class="col-6 p-l-r-0">
                    <select [(ngModel)]="technichalBreak">
                        <option *ngFor="let break of breaks" [ngValue]="break"> {{ break.name }} </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="container p-l-r-0 m-t-10 overflow" id="games-container" *ngIf="games && !showStats">
            <div class="m-t-5" *ngFor="let game of games; let ind = index;">
                <div id="game-container" class="hand" [ngClass]="{'odd' : ind % 2 === 0, 'even' : ind % 2 !== 0}" (click)="game.showSets = !game.showSets;">
                    <div class="row m-l-r-0" style="height: 49px;">
                        <div id="country" class="col-1 p-l-r-0 text-overflow" data-toggle="tooltip" data-placement="top" title="{{ game.location }}"> {{ game.location }} </div>
                        <div class="col-3 p-l-r-0 flex"> 
                            <div id="leaugue" class="col-10 p-l-r-0 text-overflow" data-toggle="tooltip" data-placement="top" title="{{ game.leaugue }}">{{ game.leaugue }}</div> 
                            <div id="leaugue" class="col-2 p-l-r-0">
                                <div *ngIf="game.isMale">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </div>
                                <div *ngIf="!game.isMale">
                                    <i class="fa fa-female female" aria-hidden="true"></i>
                                </div>
                            </div> 
                        </div>
                        <div class="col-8 p-l-r-0">
                            <div id="team-container" class="col-12 p-l-r-0">
                                <div class="row m-l-r-0 bottom-border">
                                    <div class="col-4 p-l-r-0 text-overflow right-border" [ngClass]="game.team1Set > game.team2Set ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="{{ game.team1Name }}"> {{ game.team1Name }} </div>
                                    <div class="col-8 p-l-r-0">
                                        <div class="row m-l-r-0 text-center">
                                            <div class="col-7 p-l-r-0 right-border flex"> 
                                                <div [ngClass]="{'font-weight-bold' : game.team1Set > game.team2Set}" class="col-2 right-border" data-toggle="tooltip" data-placement="top" title="Sets" (click)="getSetsByGameId(game._id)">
                                                    {{ game.team1Set }}
                                                </div>
                                                <div *ngFor="let set of game.setsFinal" class="col-2 right-border">
                                                    {{ set | getset:0}}
                                                </div>
                                            </div>
                                            <div class="col-1 p-l-r-0 right-border" [ngClass]="game.team1Points > game.team2Points ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="Points"> {{ game.team1Points }} </div>
                                            <div class="col-1 p-l-r-0 right-border" [ngClass]="game.team1Kills > game.team2Kills ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="Kills"> {{ game.team1Kills }} </div>
                                            <div class="col-1 p-l-r-0 right-border" [ngClass]="game.team1Blocks > game.team2Blocks ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="Blocks"> {{ game.team1Blocks }} </div>
                                            <div class="col-1 p-l-r-0 right-border" [ngClass]="game.team1Aces > game.team2Aces ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="Aces"> {{ game.team1Aces }} </div>
                                            <div class="col-1 p-l-r-0" [ngClass]="game.team1ServiceErrors > game.team2ServiceErrors ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="Service Errors"> {{ game.team1ServiceErrors }} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="team-container" class="col-12 p-l-r-0">
                                <div class="row m-l-r-0">
                                    <div class="col-4 p-l-r-0 text-overflow right-border" [ngClass]="game.team2Set > game.team1Set ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="{{ game.team2Name }}"> {{ game.team2Name }} </div>
                                    <div class="col-8 p-l-r-0">
                                        <div class="row m-l-r-0 text-center">
                                            <div class="col-7 p-l-r-0 right-border flex">
                                                <div [ngClass]="{'font-weight-bold' : game.team2Set > game.team1Set}" class="col-2 right-border" data-toggle="tooltip" data-placement="top" title="Sets" (click)="getSetsByGameId(game._id)">
                                                    {{ game.team2Set }}
                                                </div>
                                                <div *ngFor="let set of game.setsFinal" class="col-2 right-border">
                                                    {{ set | getset:1}}
                                                </div>
                                            </div>
                                            <div class="col-1 p-l-r-0 right-border" [ngClass]="game.team2Points > game.team1Points ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="Points"> {{ game.team2Points }} </div>
                                            <div class="col-1 p-l-r-0 right-border" [ngClass]="game.team2Kills > game.team1Kills ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="Kills"> {{ game.team2Kills }} </div>
                                            <div class="col-1 p-l-r-0 right-border" [ngClass]="game.team2Blocks > game.team1Blocks ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="Blocks"> {{ game.team2Blocks }} </div>
                                            <div class="col-1 p-l-r-0 right-border" [ngClass]="game.team2Aces > game.team1Aces ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="Aces"> {{ game.team2Aces }} </div>
                                            <div class="col-1 p-l-r-0" [ngClass]="game.team2ServiceErrors > game.team1ServiceErrors ? 'font-weight-bold' : ''" data-toggle="tooltip" data-placement="top" title="Service Errors"> {{ game.team2ServiceErrors }} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <!-- visual part of the set -->
                <div *ngIf="game.showSets" class="col-12 p-l-r-0 m-l-10 flex">
                    <div class="col-9 p-l-r-0 overflow-x-auto right-border">
                        <div *ngFor="let set of game.sets; let i = index;">
                            <div class="set-wrapper flex">
                                <div *ngFor="let points of set[i]; let j = index;" [ngClass]="{'poitns-match': points === searchPoints}" data-toggle="tooltip" data-placement="top" title="{{ points }}">
                                    <div class="points" [ngClass]="{'background-red': setBackground(points, set[i][j - 1], 0)}"></div>
                                    <div class="points" [ngClass]="{'background-red': setBackground(points, set[i][j - 1], 1)}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 p-l-r-0 m-l-10">
                        <div *ngFor="let set of game.setsFinal">
                            {{ set | sub}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container p-l-r-0 m-t-10 overflow" id="games-container" *ngIf="games && showStats">
            STATS
        </div>
    </div>    
</div>
